.body {
    height: 100%;
    text-align: center;
    
    
    }

.button.is-primary {
        background-color: hsl(232, 100%, 41%);
        border-color: transparent;
        color: #fff;

}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #c41700;
    border-color: transparent;
    color: #fff;
  }


.container {
    height: 100%;
  }

a {
    color: #000307;
    cursor: pointer;
    text-decoration: none;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #7b7a7a;
  color: #ffffff;
}